@import '~@gisatcz/ptr-core/lib/styles/_variables';
@import '~@gisatcz/ptr-maps';
@import '~@gisatcz/ptr-core';
@import '~@gisatcz/ptr-components';
@import '~@gisatcz/ptr-atoms';

.vta-App {
  padding: m(1);
}

.vta-MapWrapper {
  height: 40rem;
  margin: m(1)
}